<div class="userlist-content">
    <div class="fram-box admin-lbox">
        <tree></tree>
    </div><div class="fram-box admin-rbox">
        <div class="out-box-border" style="padding: 12px;">
            <div class="userlist-record">
                <div class="record-text-ct">
                    <div>
                        <span class="sel-title f-16">全部用户</span>
                    </div>
                    <p class="org-name f-14">在此页面上，您可以创建、查看和管理用户</p>
                    <p class="org-name f-14">记录({{count}})</p>
                </div>
                <div class="userlist-edit-ct">
                    <el-input  style="width:200px;" v-model="searchKey"  placeholder="输入用户名称"  value=""></el-input>  <el-button @click="searchUser">搜索</el-button> <el-button @click="createUser">创建</el-button>
                </div>
            </div>

            <div class="userlist-list-content">
                <el-table
                        :data="userlist"
                        style="width: 100%"
                        :default-sort = "{prop: 'date', order: 'descending'}"
                >
                    <el-table-column @click="userEdit(scope.row.id)"
                            prop="name"
                            label="名称"
                            min-width="20%">
                    </el-table-column>

                    <el-table-column
                            prop="loginName"
                            label="用户名"
                            min-width="30%">
                    </el-table-column>
                    <el-table-column
                            prop="rolesEnName"
                            label="角色"
                            min-width="30%">
                            <template slot-scope="scope">
                            <!-- <span v-for="(rols,index) in scope.row.rolesEnName" v-if="rols.name">{{index==0?rols.name:'、'+rols.name}}</span> -->
                                <span>{{scope.row.rolesEnName|rolesFilter}}</span>
                            </template>
                    </el-table-column>
                    <el-table-column
                            prop="status"
                            label="状态"
                            min-width="18%">
                            <template slot-scope="scope">
                                <!-- <span v-for="(rols,index) in scope.row.rolesEnName" v-if="rols.name">{{index==0?rols.name:'、'+rols.name}}</span> -->
                                <span>{{scope.row.status|statusFilter}}</span>
                            </template>
                    </el-table-column>

                    <el-table-column label="操作" min-width="18%">
                        <template slot-scope="scope"  style="">
                            <a v-if="scope.row.status==0"  href="javascript:;" @click="userEdit(scope.row.id)">编辑</a>
                            <a v-if="scope.row.status==0&&!isAdmin(scope.row.rolesEnName)" href="javascript:;" @click="fUserHandle(scope.row,2,scope.$index)">禁用</a>
                            <a v-if="scope.row.status!=0&&!isAdmin(scope.row.rolesEnName)" href="javascript:;" @click="fUserHandle(scope.row,0,scope.$index)">启用</a>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="userlist-pagination-align">
                <el-pagination
                        @current-change="handleCurrentChange"
                        layout="prev, pager, next"
                        :page-size="pageSize"
                        :total="count">
                </el-pagination>
            </div>
        </div>
    </div>
</div>