<div class="apply-content">
    <div class="fram-box apply-lbox">
        <tree></tree>
    </div><div class="fram-box apply-rbox">
        <div class="out-box-border" style="padding: 12px;">
            <div class="apply-text-ct">
                    <p class="f-14">线下签约</p>
                    <p class="f-16">创建诊所申请</p>
            </div>
            
            <div class="detail-edit-ct" style="box-sizing: border-box;">
                <span class="msg-l">信息录入</span>
                <span class="msg-r"><b class="line-red">| &nbsp; </b>必填信息</span>    
            </div>

            <div class="edit-content">
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所名称</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" value="" placeholder=""></el-input>
                    </div> 
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所管理员用户名</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" value="" placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >隶属集团（可选）</span><b class="line-row-tra"></b>
                        <el-input class="row-item-value" value="" placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人姓名</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" value=""  placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人手机号码</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" value=""  placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人邮箱</span><b class="line-row-tra"></b>
                        <el-input class="row-item-value" value="" placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >营业执照复印件</span><b class="line-row-tra"></b>
                        <el-upload
                        style="margin-left: 180px;margin-top: -20px;height: 20px;"
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            multiple
                            :limit="1"
                            :on-exceed="handleExceed"
                            :file-list="fileList">
                            <el-button size="small" type="primary">点击上传</el-button>
                            <!-- <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div> -->
                        </el-upload>
                    </div>
                </div>
                <!-- <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >医疗机构许可证</span><b class="line-row-tra"></b>
                        <el-upload
                            style="margin-left: 180px;margin-top: -20px;height: 20px;"
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :on-change="handleChange"
                            :file-list="fileList">
                            <el-button size="small" type="primary">选择文件</el-button>
                            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                        </el-upload>
                    </div>
                </div> -->
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所等级</span><b class="line-row-red"></b>
                        <el-select v-model="gradeVal" placeholder="请选择">
                                <el-option
                                  v-for="item in grade"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                                </el-option>
                              </el-select>
                    </div>
                </div>
                <div class="row-ct">
                        <div class="row-item" >
                            <span class="row-item-title f-14" >主营项目</span><b class="line-row-red"></b>
                            <el-select v-model="projectsVal" placeholder="请选择">
                                    <el-option
                                      v-for="item in projects"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                        </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14 v-a-top" >LOGO</span><b class="line-row-red" style="vertical-align: top;display: inline-block;height: 20px;"></b>
                        <input type="file" style="display: none;" ref="uploadImg" @change="fAjaxFileUpload">
                        <div v-if="false" class="logo-img" :style="{backgroundImage:['url('+defaultImg+')']}" @click="chooseImage"></div>
                        <div v-if="true" class="logo-img"   @click="chooseImage">
                            <img style="width: 100%;height: 100%;" src="../../../common/img/add-img-icon.png">
                        </div>
                    </div>
                </div>

                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14 v-a-top" >营业时间</span><b class="line-row-red" style="vertical-align: top;"></b>
                        <el-input class="row-item-value" value="" placeholder="" type="textarea" style="margin-top: -6px;"></el-input>
                    </div> 
                </div>
                <div class="row-ct">
                    <div class="row-item">
                        <span class="row-item-title f-14">详细地址</span>
                        <input type="text" class="row-item-value el-input__inner" placeholder="请输入地址" style="width: 280px;" id="suggestId" value="" v-model="address" />
                        <div id="searchResultPanel" ref="dropaddress" style="border:1px solid #C0C0C0;width:250px;height:auto;display: none;"></div>
                    </div>
                </div>

                <div class="row-ct" >
                    <div id="map-content" class="map-ct"></div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" ></span><b class="line-row-tra"></b>
                        <el-button type="primary">提交申请</el-button>
                    </div>
                </div>
            </div>



            
        </div>
        
    </div>
</div>