<div class="apply-content">
    <div class="fram-box apply-lbox">
        <tree></tree>
    </div><div class="fram-box apply-rbox">
        <div class="out-box-border" style="padding: 12px;">
            <div class="apply-text-ct">
                    <p class="f-14">线下签约</p>
                    <p class="f-16">创建诊所申请</p>
            </div>
            
            <div class="detail-edit-ct" style="box-sizing: border-box;">
                <span class="msg-l">信息录入</span>
                <span class="msg-r"><b class="line-red">| &nbsp; </b>必填信息</span>    
            </div>

            <!-- 创建 -->
            <div class="edit-content" v-show="editShow">
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所名称</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" v-model="oClinic.name" placeholder=""></el-input>
                    </div> 
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所管理员用户名</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" value="" @keyup.native="fCheckUser" v-model="checkUserhVal" ></el-input>
                        <span v-if="usable" style="color:#67c23a;">此用户名可用</span>
                        <span v-if="occupyUser" style="color:#cc0000;">此用户名已被占用</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >隶属集团（可选）</span><b class="line-row-tra"></b>
                        <el-input class="row-item-value" v-model="oClinic.group" placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人姓名</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" v-model="oClinic.linkman" placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人手机号码</span><b class="line-row-red"></b>
                        <el-input class="row-item-value" v-model="oClinic.phone"  placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人邮箱</span><b class="line-row-tra"></b>
                        <el-input class="row-item-value" v-model="oClinic.email" placeholder=""></el-input>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >营业执照复印件</span><b class="line-row-tra"></b>
                        <!-- <el-upload
                            style="margin-left: 180px;margin-top: -20px;"
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            multiple
                            :limit="1"
                            :on-exceed="handleExceed"
                            :file-list="fileList">
                            <el-button size="small" type="primary">点击上传</el-button> 
                        </el-upload> -->
                        <input type="file" @change="fAjaxFileUpload($event,1)">
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >医疗机构许可证</span><b class="line-row-tra"></b>
                        <!-- <el-upload
                            style="margin-left: 180px;margin-top: -20px;"
                            class="upload-demo"
                            action="https://jsonplaceholder.typicode.com/posts/"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            multiple
                            :limit="1"
                            :on-exceed="handleExceed"
                            :file-list="fileList">
                            <el-button size="small" type="primary">点击上传</el-button>
                        </el-upload> -->
                        <input type="file" @change="fAjaxFileUpload($event,2)"   element-loading-background="rgba(0, 0, 0, 0.8)">
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所等级</span><b class="line-row-red"></b>
                        <el-select v-model="oClinic.qualification" placeholder="请选择">
                                <el-option
                                  v-for="item in oClinicRank"
                                  :key="item"
                                  :label="item"
                                  :value="item">
                                </el-option>
                              </el-select>
                    </div>
                </div>
                <div class="row-ct">
                        <div class="row-item" >
                            <span class="row-item-title f-14" >主营项目</span><b class="line-row-red"></b>
                            <el-select
                                v-model="productItem"
                                filterable
                                remote
                                reserve-keyword
                                placeholder="请输入关键词"
                                @change="fSelectProductItem"
                                :remote-method="fAutoProduct"
                            >
                                <el-option
                                        v-for="item in searchData"
                                        :key="item.id"
                                        selected
                                        :label="item.productName"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="row-item" style="padding: 10px 0 0 95px;">
                                <div class="major-project">
                                    <template v-for="item in caseDetail.products">
                                    
                                        <span class="goodat f-14">
                                            {{item.productName}}
                                            <i class="el-icon-pa-close i-close-p" @click="fRemoveProduct(item)"></i>
                                        </span>
                                        
                                    </template>
                                </div>
                        </div>
                </div>
                

                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14 v-a-top" >LOGO</span><b class="line-row-red" style="vertical-align: top;display: inline-block;height: 20px;"></b>
                        <input type="file" style="display: none;" ref="uploadImg" @change="fAjaxFileUpload($event,3)">
                        <div class="logo-img" :style="{backgroundImage:['url('+defaultImg+')']}" @click="fChooseImg"></div>
                        <span style="display:inline-block;margin-left: 176px;width: 400px;">60 × 60px，支持jpg、png、jpeg、bmp，图片大小2M以内</span>
                        
                    </div>
                </div>

                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14 v-a-top" >营业时间</span><b class="line-row-red" style="vertical-align: top;"></b>
                        <el-input class="row-item-value" v-model="oClinic.businessTime" placeholder="" type="textarea" style="margin-top: -6px;"></el-input>
                    </div> 
                </div>
                <div class="row-ct">
                    <div class="row-item">
                        <span class="row-item-title f-14">详细地址</span><b class="line-row-red"></b>
                        <input type="text" class="row-item-value el-input__inner" placeholder="请输入地址" style="width: 280px;" id="suggestId" value="" v-model="address" />
                        <div id="searchResultPanel" ref="dropaddress" style="border:1px solid #C0C0C0;width:250px;height:auto;display: none;"></div>
                    </div>
                </div>

                <div class="row-ct" >
                    <div id="map-content" class="map-ct"></div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" ></span><b class="line-row-tra"></b>
                        <el-button type="primary" @click.native="fsubmit">提交申请</el-button>
                    </div>
                </div>
            </div>


            <!-- 提交后 -->
            <div class="edit-content" v-show="viewShow">
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所名称</span>
                        <span class="row-item-value">{{oClinic.name}}</span>
                    </div> 
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所管理员用户名</span>
                        <span class="row-item-value">{{checkUserhVal}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >隶属集团（可选）</span>
                        <span class="row-item-value">{{oClinic.group}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人姓名</span>
                        <span class="row-item-value">{{oClinic.linkman}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人手机号码</span>
                        <span class="row-item-value">{{oClinic.phone}}</span>    
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >联系人邮箱</span>
                        <span class="row-item-value">{{oClinic.email}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >营业执照复印件</span>
                        <span class="row-item-value">{{file1}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >医疗机构许可证</span>
                        <span class="row-item-value">{{file2}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >诊所等级</span>
                        <span class="row-item-value">{{oClinic.qualification}}</span>
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14" >主营项目</span>   
                            <span class="row-item-value" v-for="item in caseDetail.products">#{{item.productName}}&nbsp;&nbsp;</span> 
                    </div>
                </div>
                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14 v-a-top" >LOGO</span>
                        <div v-if="true" class="logo-img" :style="{backgroundImage:['url('+defaultImg+')']}"></div>
                        
                    </div>
                </div>

                <div class="row-ct">
                    <div class="row-item" >
                        <span class="row-item-title f-14 v-a-top" >营业时间</span>
                        <span class="row-item-value">{{oClinic.businessTime}}</span>
                    </div> 
                </div>
                <div class="row-ct">
                    <div class="row-item">
                        <span class="row-item-title f-14">详细地址</span>
                        <span class="row-item-value" id="suggestId0">{{address}}</span>
                        <!-- <input type="text" class="row-item-value el-input__inner" placeholder="请输入地址" style="width: 280px;" id="suggestId" value="" v-model="address" />
                        <div id="searchResultPanel0" ref="dropaddress0" style="border:1px solid #C0C0C0;width:250px;height:auto;display: none;"></div> -->
                    </div>
                </div>

                <div class="row-ct">
                    <div id="map-content-view" class="map-ct"></div>
                </div>
                <div class="row-ct" style="text-align:center;">
                    <div class="row-item" >
                        <el-button type="primary" @click.native="fconfirm" :disabled="isDis">确认提交</el-button>
                        <el-button type="primary" @click.native="fback">返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</el-button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>