<div class="audit-content" id="audit-content">
    <div class="fram-box audit-lbox">
        <tree></tree>
    </div><div class="fram-box audit-rbox">
        <div class="out-box-border" style="padding: 12px;">
            <div class="audit-text-ct">
                <p class="f-14">线下签约</p>
                <p class="f-16">创建诊所申请列表</p>
            </div>

            <div class="detail-edit-ct" style="box-sizing: border-box;">
                <span class="msg-l">申请审核</span>               
            </div>
            <div class="detail-search">
                <el-select v-model="dealvalue" placeholder="请选择" @change="currentStatus">
                    <el-option
                        v-for="item in dealoptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
                <el-input placeholder="请输入" v-model="searchVal" @keyup.enter.native="searchList" style="width: 200px;"></el-input>
                <i class="el-icon-search icurse" @click="searchList"></i>      
            </div>

            <!-- 表格 -->
            <div class="customer-waiting-content">
                    <table class="customer-table">
                        <tr>
                            <th>诊所名称</th><th>联系人</th><th>联系人手机</th><th>联系人邮箱</th><th>营业执照</th><th>许可证</th><th>申请日期</th><th>操作日期</th><th>操作</th>
                        </tr>
                        <template v-for="(oitem,oIndex) in applyList">
                            <tr class="tr-end">
                                 <td><span class="names">{{oitem.name}}</span></td>
                                <td>
                                    <span class="names">{{oitem.linkman}}</span>
                                </td>
                                <td>{{oitem.phone}}</td>
                                <td>{{oitem.email}}</td>
                                <td style="max-width:20%">
                                    <el-popover trigger="click" placement="right" width="80" v-if="oitem.businessLicense"><img :src="oitem.businessLicense" width="30%" /><el-button slot="reference">预览</el-button></el-popover><el-button  v-if="oitem.businessLicense" @click="downLoad(oitem.businessLicense)">下载</el-button>
                                    <span v-if="!oitem.businessLicense">无</span>
                                </td>
                                <td style="max-width:20%">
                                    <el-popover trigger="click" placement="right" width="80" v-if="oitem.licence"><img :src="oitem.licence" width="30%" alt="" /><el-button slot="reference">预览</el-button></el-popover><el-button v-if="oitem.licence" @click="downLoad(oitem.licence)">下载</el-button>
                                    <span v-if="!oitem.licence">无</span>
                                </td>
                                <td>{{oitem.createTime|filterTime(oitem.createTime)}}</td>
                                <td>{{oitem.optTime|filterTime(oitem.optTime)}}</td>
                                <td style="width:16%" >
                                    <!-- <el-select v-model="oitem.actionVal"  placeholder="请选择" @change="changeStatus(oitem)"  >                                       
                                        <el-option
                                            v-for="item in actionList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>                                     -->
                                    <el-button type="primary" @click="changeStatus(oitem,1)" v-if="dealvalue=='0'||dealvalue=='2'" >核准</el-button> 
                                    <el-button type="error" @click="changeStatus(oitem,2)" v-if="dealvalue=='0'||dealvalue=='1'">拒绝</el-button>     
                                </td>                                                                
                            </tr>
                        </template>
                        <template style="height: 100%;">
                            <el-dialog
                            :visible.sync="dialogVisible"
                             center                            
                            >
                            <div class="alowed" v-if="oitem.actionVal=='1'">
                             <span class="tip-text">请提供开通账户所需信息</span>
                             <span class="tip-text">{{oitem.name}}</span>
                             <div class="block" style="text-align: center;padding-top: 30px">
                                    <span class="demonstration">使用有效期至：</span>
                                    <!-- <span class="demonstration">{{dateValue}}</span> -->
                                    <el-date-picker
                                      v-model="dateValue"
                                      type="date"
                                      placeholder="选择日期" 
                                      value-format="yyyy 年 MM 月 dd 日"
                                      format="yyyy 年 MM 月 dd 日"
                                     >
                                    </el-date-picker>
                                  </div>
                                  <div class="money" style="text-align: center;padding-top: 20px">
                                      <span>付款金额： <el-input placeholder=0 style="width:100px" :value='price' type="number" min=0></el-input>   元</span>
                                  </div>
                            </div>
                            <div class="refused" v-if="oitem.actionVal=='2'" style="text-align: center">
                                 <span class="tip-text">您确定需要拒绝以下诊所的开通申请吗</span>
                                 <span class="tip-text">{{oitem.name}}</span>
                                 <div style="padding: 20px 0">原因：</div>
                                 <el-input
                                 type="textarea"
                                 :rows="4"
                                 placeholder="此处输入拒绝原因，不得少于10个字"
                                 v-model="reason"
                                 style="width: 230px"
                                 :minlength=10
                                 >                        
                                 </el-input>
                            </div>                        
                              <span slot="footer" class="dialog-footer">
                                 <el-button type="primary" @click="confirm(oitem)" :disabled="isdisable">确 定</el-button>       
                               </span>                           
                            </el-dialog>
                        </template> 
                         <tr v-if="applyList.length < 1" style="text-align: center;">
                            <td colspan="9">暂无数据</td>
                        </tr> 
                    </table>                   
                    <!--分页组件-->
                <div class="rbox-pagination-align">
                    <el-pagination
                            class="el-pagination"
                            @current-change="handleCurrentChange"
                            layout="prev, pager, next"
                            :page-size="pageSize"
                            :total="count"
                            >
                    </el-pagination>
                </div>               
            </div>
        </div>
    </div>  
</div>

